<div id="Declaration" class="tabcontent">
                        
    <h3>Declaration</h3>
    <form id ="declaration" action = "/declaration" method="POST">

        <!-- PAGE 1 -->
        <div class="declarationPage">
        <div class="row">
            <div class="col leftcolumn">
                <div>
                    <label for="date">Date Granted:</label>
                    <% var todayDate = new Date(); %>
                    <% var dd = String(todayDate.getDate()).padStart(2, '0'); %>
                    <% var mm = String(todayDate.getMonth() + 1).padStart(2, '0'); //January is 0! %>
                    <% var yyyy = todayDate.getFullYear(); %>

                    <% todayDate = yyyy + "-" + mm + "-" + dd; %>
                    <input type="date" id="dateGranted" name="declarationDate" value="<%= todayDate %>" size="30"/>
                    <label for="date">Departure Date:</label>
                    <input type="date" id="departureDate" name="declarationDate" size="30"/>
                    <!--CEPT Option Normal/Cept-->
                    <label for="date">CEPT:</label>
                    <select name="cept" id="cept">
                        <option value="normal">Normal</option>
                        <option value="cept">CEPT</option>
                    </select>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Procedure</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Custom Procedure:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td>
                            <select name="customProcedure" id="customProcedure">
                                <optgroup label="-">
                                    <!--code 05--><option value="import">IMPORT</option>
                                    <!--code 07--><option value="reImport">RE-IMPORT</option>
                                    <!--code 10--><option value="entryToBond">ENTRY TO BOND (WAREHOUSE)</option>
                                    <!--code 11--><option value="temporaryImport">TEMPORARY IMPORT</option>
                                    <!--code 15--><option value="temporaryImportExt">TEMPORARY IMPORT (EXTENSION)</option>
                                    <!--code 09--><option value="importFromBond">IMPORTATION FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                                <optgroup label="-">
                                    <!--code 06--><option value="export">EXPORT</option>
                                    <!--code 08--><option value="reExport">RE-EXPORT</option>
                                    <!--code 16--><option value="temporaryExport">TEMPORARY EXPORT</option>
                                    <!--code 14--><option value="exportFromBond">EXPORT FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                                    <!--code 12--><option value="transit">TRANSIT</option>
                                    <!--code 13--><option value="bondedMovementOfGoods">BONDED MOVEMENT OF GOODS (BETWEEN WAREHOUSE)</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Prev Procedure: </td>
                        <td>
                            <select name="previousProcedure" id="previousProcedure">
                                <optgroup label="-">
                            <!--code 05--><option value="import">IMPORT</option>
                            <!--code 07--><option value="reImport">RE-IMPORT</option>
                            <!--code 10--><option value="entryToBond">ENTRY TO BOND (WAREHOUSE)</option>
                            <!--code 11--><option value="temporaryImport">TEMPORARY IMPORT</option>
                            <!--code 15--><option value="temporaryImportExt">TEMPORARY IMPORT (EXTENSION)</option>
                            <!--code 09--><option value="importFromBond">IMPORTATION FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                                <optgroup label="-">
                            <!--code 06--><option value="export">EXPORT</option>
                            <!--code 08--><option value="reExport">RE-EXPORT</option>
                            <!--code 16--><option value="temporaryExport">TEMPORARY EXPORT</option>
                            <!--code 14--><option value="exportFromBond">EXPORT FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                            <!--code 12--><option value="transit">TRANSIT</option>
                            <!--code 13--><option value="bondedMovementOfGoods">BONDED MOVEMENT OF GOODS (BETWEEN WAREHOUSE)</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Dutiable Indicator:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <select name="customProcedure" id="customProcedure">
                                <!--code A--><option value="Air">AIR</option>
                                <!--code B--><option value="Sea">SEA</option>
                                <!--code C--><option value="Land">LAND</option>
                                <!--code D--><option value="Postal">POSTAL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Clearance Station:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <select name="clearanceStation" id="clearanceStation">
                                <!--code 611--><option value="BSB">BSB</option>
                                <!--code 603--><option value="BSP Wharf">BSP WHARF</option>
                                <!--code 611--><option value="BSP WHarf + Long Room">BSP WHARF + LONG ROOM</option>
                                <!--code 600--><option value="Customs Headquarters">CUSTOMS HEADQUARTERS</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Exporter/Consigner</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Name: </td>
                        <td><input type="text" id="exporterName" name="exporterName" size="30"/></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Address: </td>
                        <td><input type="text" id="exporterAddress" name="exporterAddress" size="30"/></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Registration: </td>
                        <td><input type="text" id="exporterRegistration" name="exporterRegistration" size="20"/>  Country <input type="text" id="exporterCountry" name="exporterCountry" size="10"/></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Telephone: </td>
                        <td><input type="text" id="exporterPhone" name="exporterPhone" size="30"/></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Postal: </td>
                        <td><input type="text" id="exporterPostal" name="exporterPostal" size="20"/>  Transport <input type="text" id="exporterTransport" name="exporterTransport" size="10"/></td>
                    </tr>
                </table>
            </div>
            <!-- end left col-->
            <div class="col rightcolumn">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Importer/Consignee</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Type:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td>
                            <select name="importerType" id="importerType">
                                <!--code 611--><option value="TRDR">TRDR</option>
                                <!--code 603--><option value="INDV">INDV</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Name:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="importerAddress" name="importerAddress" size="30"/></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Address:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="importerAddress" name="importerAddress" size="30"/></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Registration:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="importerRegistration" name="importerRegistration" size="30"/></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Telephone:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <input type="text" id="importerTelephone" name="importerTelephone" size="10"/>
                            <span style="font-weight:bold">14.</span> Postal:<i class="bi bi-star-fill" style="color: red;"></i> <input type="text" id="importerPostal" name="importerPostal" size="10"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Agent</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>Name:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="agentName" name="agentName" size="30" value="GLOBEX GLOBAL LOGISTICS SDN BHD"/></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>Address:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td><input type="text" id="agentAddress" name="agentAddress" size="30" value="UNIT 9, BLOCK A, SPG 188 JALAN BABU RAJA"/></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>Registration:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="agentRegistration" name="agentRegistration" size="30" value="RC/00007286"/></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>Telephone:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <input type="text" id="agentPhone" name="agentPhone" size="10" value="2332065"/>
                            <span style="font-weight:bold">19.</span> Postal:<i class="bi bi-star-fill" style="color: red;"></i> <input type="text" id="agentPostal" name="agentPostal" size="10" value="BE1318"/>
                        </td>
                    </tr>
                </table>
                <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                -->
                <p></p>
            </div>
        </div>
        </div>
        <!-- PAGE 2 -->
        <div class="declarationPage">
        <div class="row">
            <div class="col leftcolumn">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Transport</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>Arrival Date:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td><input type="date" id="arrivalDate" name="arrivalDate" size="8"/> <span style="font-weight:bold"> 21.</span> Container No: <input type="text" id="containerNo" name="containerNo" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td>Vessel Number:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="vesselNo" name="vesselNo" size="8"/><span style="font-weight:bold"> 23.</span> Vessel Name:<i class="bi bi-star-fill" style="color: red;"></i> <input type="text" id="vesselName" name="vesselName" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td>BL/DO/AWB:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="bldoawb" name="bldoawb" size="8"/><span style="font-weight:bold"> 25.</span> HB/HAWB: <input type="text" id="hbhawb" name="hbhawb" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td>Country Shipment:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="countryShipment" name="countryShipment" size="8"/>        Code: <input type="text" id="countryShipmentCode" name="countryShipmentCode" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td>Country Destination:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="countryDestination" name="countryDestination" size="8"/>        Code: <input type="text" id="countryDestinationCode" name="countryDestinationCode" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td>Port of Entry:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="portOfEntry" name="portOfEntry" size="8"/>        Code: <input type="text" id="portOfEntryCode" name="portOfEntryCode" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td>Port of Discharge:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="portOfDischarge" name="portOfDischarge" size="8"/>        Code: <input type="text" id="portOfDischargeCode" name="portOfDischargeCode" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td>Place Release: </td>
                        <td><input type="text" id="placeRelease" name="placeRelease" size="8"/>        Code: <input type="text" id="placeReleaseCode" name="placeReleaseCode" size="8"/></td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td>Place Receipt: </td>
                        <td><input type="text" id="placeReceipt" name="placeReceipt" size="8"/>        Code: <input type="text" id="placeReceiptCode" name="placeReceiptCode" size="8"/></td>
                    </tr>
                </table>
            </div>
            <!-- end left col-->
            <div class="col rightcolumn">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Supporting Documents</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td>Exchange Rate:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="exchangeCurrency" name="exchangeCurrency" size="4" placeholder="Currency"/> <input type="text" id="exchangeRate" name="exchangeRate" size="10" placeholder="Rate"/></td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td>Prev Declaration No: </td>
                        <td><input type="text" id="prevDeclarationNo" name="prevDeclarationNo" size="30"/></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Duty Exem: </td>
                        <td><select name="dutyExem">
                                <option></option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                            Letter <input type="text" id="letter" name="letter" size="20"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">31a.</th>
                        <td>Port Of Exit:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="portOfExit" name="portOfExit" size="8"/>        Code: <input type="text" id="placeReceiptCode" name="placeReceiptCode" size="8"/></td>
                    </tr>
                </table>
                <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                -->
                <p></p>
            </div>
        </div>
        </div>
        <!--Page 2 Ends-->
        <!-- PAGE 3 -->
        <div class="declarationPage">
            <div class="row">
                <div class="col leftcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">for Temporary Import</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">43</th>
                            <td>Type of Application:</td>
                            <td>
                                <select name="typeOfApplication">
                                    <option value=""></option>
                                    <option value="DEM">DEM</option>
                                    <option value="TSP">TSP</option>
                                    <option value="ESH">ESH</option>
                                    <option value="LSP">LSP</option>
                                </select>
                                <span style="font-weight:bold"> 44.</span> Granted Period (Mon): <input type="text" id="grantedPeriod" name="grantedPeriod" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">45</th>
                            <td>Est. Date of Export: </td>
                            <td><input type="date" id="estDateOfExport" name="estDateOfExport" size="8"/><span style="font-weight:bold"> 46.</span> Place Export: <input type="text" id="placeExport" name="placeExport" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">47</th>
                            <td>Project Name: </td>
                            <td><input type="text" id="projectName" name="projectName" size="30"/></td>
                        </tr>
                        <tr>
                            <th scope="row">48</th>
                            <td>Project Date From: </td>
                            <td><input type="date" id="projectDateFrom" name="projectDateFrom" size="8"/> 49: Date to: <input type="date" id="projectDateTo" name="projectDateTo" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">for Transit</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">50</th>
                            <td>Mode of Transport: </td>
                            <td>
                                <select name="modeOfTransport">
                                    <option value=""></option>
                                    <option value="L">L</option>
                                    <option value="S">S</option>
                                </select>
                                <span style="font-weight:bold"> 51.</span> Mean of Transport: <input type="text" id="meanOfTransport" name="meanOfTransport" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">52</th>
                            <td>Office of Dept (1st Check): </td>
                            <td><input type="text" id="officeOfDeptFirst" name="officeOfDeptFirst" size="8"/>        Code: <input type="text" id="officeOfDeptFirstCode" name="officeOfDeptFirstCode" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">53</th>
                            <td>Office of Dept (Last): </td>
                            <td><input type="text" id="officeOfDeptLast" name="officeOfDeptLast" size="8"/>        Code: <input type="text" id="officeOfDeptLastCode" name="officeOfDeptLastCode" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">54</th>
                            <td>Office of Dept (2nd Check): </td>
                            <td><input type="text" id="officeOfDeptSecond" name="officeOfDeptSecond" size="8"/>        Code: <input type="text" id="officeOfDeptSecondCode" name="officeOfDeptSecondCode" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">55</th>
                            <td>Office of Dept (3rd Check): </td>
                            <td><input type="text" id="officeOfDeptThird" name="officeOfDeptThird" size="8"/>        Code: <input type="text" id="officeOfDeptThirdCode" name="officeOfDeptThirdCode" size="8"/></td>
                        </tr>
                    </table>
                </div>
                <!-- end left col-->
                <div class="col rightcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">Security Deposit</td>
                            <td>(For Transit & Temporary Import Only)</td>
                        </tr>
                        <tr>
                            <th scope="row">56</th>
                            <td>Type of Deposit: </td>
                            <td>
                                <select>
                                    <option value=""></option>
                                    <option value="Cash">CASH</option>
                                    <option value="Cheque">CHEQUE</option>
                                    <option value="Bank Guarantee">BANK GUARANTEE</option>
                                </select>
                                <span style="font-weight:bold"> 57.</span> Amount: <input type="text" id="depositAmount" name="depositAmount" size="8"/> 
                        </tr>
                        <tr>
                            <th scope="row">58</th>
                            <td>Bank Guarantee Amt: </td>
                            <td><input type="text" id="bankGuaranteeAmt" name="bankGuaranteeAmt" size="8"/><span style="font-weight:bold"> 59.</span> BG/Cheque No: <input type="text" id="bgchequeNo" name="bgchequeNo" size="8"/> </td>
                        </tr>
                        <tr>
                            <th scope="row">60</th>
                            <td>Bank Name: </td>
                            <td>
                                <input type="text" id="bankName" name="bankName" size="8"/>        Code: <input type="text" id="bankNameCode" name="bankNameCode" size="8"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">Goods</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">61.</th>
                            <td>Total Gross Weight:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                            <td>
                                <input type="text" id="totalGrossWeight" name="totalGrossWeight" size="3"/>
                                <select name="weightValue">
                                    <option value="KG">KG</option>
                                    <option value="TN">TN</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">62.</th>
                            <td>Total No of Packages:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                            <td>
                                <input type="text" id="packagesNo" name="packagesNo" size="3"/>
                                <select name="weightValue">
                                    <option value="KG">KG</option>
                                    <option value="TN">TN</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">63</th>
                            <td>Total Invoice Amount: </td>
                            <td>
                                <input type="text" id="bankName" name="bankName" size="8"/> CCY: <input type="text" id="invoiceCurrency" name="invoiceCurrency" size="3"/> Rate: <input type="text" id="invoiceRate" name="invoiceRate" size="3"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">64</th>
                            <td>Insurance: </td>
                            <td>
                                <select name="invoiceInsuranceType">
                                    <option value="F">F</option>
                                    <option value="P">P</option>
                                </select>
                                <i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="invoiceInsurance" name="invoiceInsurance" size="8"/> CCY: <input type="text" id="invoiceCurrency" name="invoiceCurrency" size="3"/> Rate: <input type="text" id="invoiceRate" name="invoiceRate" size="3"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">65</th>
                            <td>Freight Chg: </td>
                            <td>
                                <select name="invoiceInsuranceType">
                                    <option value=""></option>
                                    <option value="F">F</option>
                                </select>
                                <i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="invoiceInsurance" name="invoiceInsurance" size="8"/> CCY: <input type="text" id="invoiceCurrency" name="invoiceCurrency" size="3"/> Rate: <input type="text" id="invoiceRate" name="invoiceRate" size="3"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">66</th>
                            <td>Other Charges (B$): </td>
                            <td>
                                <input type="text" id="otherCharges" name="otherCharges" size="8"/> <span style="font-weight:bold"> <i class="bi bi-star-fill" style="color: red;"></i>66a.</span>
                                <select name="termType">
                                    <option value="CFR">CFR</option>
                                    <option value="CIF">CIF</option>
                                    <option value="FOB">FOB</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                    -->
                    <p></p>
                </div>
            </div>
            </div>
            <!--Page 3 Ends-->
            <!-- PAGE 4 -->
        <div class="declarationPage">
            <div class="row">
                <div class="col leftcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">Declaration</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">79</th>
                            <td>Name:</td>

                            <td><i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="declarantName" name="declarantName" value="<%=username.name %>" size="30"/></td>
                        </tr>
                        <tr>
                            <th scope="row">80</th>
                            <td>ID Type: </td>
                            <td><i class="bi bi-star-fill" style="color: red;"></i>
                                <select name="idType">
                                    <option value="IC">IC</option>
                                    <option value="PP">PP</option>
                                </select> 
                        </tr>
                        <tr>
                            <th scope="row">81</th>
                            <td>IC No: </td>
                            <td><i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="icNo" name="icNo" size="10" value="<%= username.icNo %>"/><i class="bi bi-star-fill" style="color: red;"></i><span style="font-weight:bold"> 82.</span> IC Color <input type="text" id="icColor" name="icColor" size="10" value="<%=username.icColor%>"/></td>
                        </tr>
                        <tr>
                            <th scope="row">83</th>
                            <td>Designation: </td>
                            <td><input type="text" id="userDesignation" name="userDesignation" size="30" value="<%=username.designation%>"/></td>
                        </tr>
                        
                    </table>
                </div>
                <!-- end left col-->
                <div class="col rightcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row">84</th>
                            <td>Date Declare: </td>
                            <td><input type="date" id="declarationDate" name="declarationDate"/> 
                        </tr>
                        <br>
                        <tr>
                            <th scope="row"></th>
                            <td>Shipping Mark: </td>
                            <td>
                                <input type="text" id="shippingMark" name="shippingMark" size="30"/>
                            </td>
                        </tr>
                        
                    </table>
                    <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                    -->
                    <p></p>
                </div>
            </div>
            </div>
            <!--Page 4 Ends-->
        <div style="overflow:auto;">
            <div style="float:right;">
              <button type="button" id="prevDecBtn" onclick="nextDecPrev(-1)">Previous</button>
              <button type="button" id="nextDecBtn" onclick="nextDecPrev(1)">Next</button>
            </div>
          </div>
    </form>
  
  
</div>

<script>
    //Page function
    var currentDecPage = 0; // Current page is set to be the first page (0)
    showDecPage(currentDecPage); // Display the current page
    
    function showDecPage(nd) {
        // This function will display the specified page of the form ...
        var jd = document.getElementsByClassName("declarationPage");
        jd[nd].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (nd == 0) {
            document.getElementById("prevDecBtn").style.display = "none";
        } else {
            document.getElementById("prevDecBtn").style.display = "inline";
        }
        if (nd == (jd.length - 1)) {
            document.getElementById("nextDecBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextDecBtn").innerHTML = "Next";
        }

    }

    

    function nextDecPrev(nd) {
        // This function will figure out which page to display
        var jd = document.getElementsByClassName("declarationPage");
        // Exit the function if any field in the current page is invalid:
        //if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        jd[currentDecPage].style.display = "none";
        // Increase or decrease the current page by 1:
        currentDecPage = currentDecPage + nd;
        // if you have reached the end of the form... :
        if (currentDecPage == jd.length) {
            //...the form gets submitted:
            document.getElementById("declaration").submit();
            document.getElementById("nextDecBtn").innerHTML = "Return to Home Page";
            document.getElementById("declaration").action = "/";
            //return false;
            if (document.getElementById("nextDecBtn").innerHTML == "Return to Home Page"){
                setTimeout(function(){
                    document.getElementById("declaration").action = "/";
                    document.getElementById("declaration").submit();
                },3000);
                
            }
        }
        if (currentDecPage > jd.length) {
            //...the form gets submitted:
            //document.getElementById("nextBtn").innerHTML = "Return to Home Page";
            document.getElementById("declaration").action = "/";
            document.getElementById("declaration").submit();
            
            return "/";
        }
        // Otherwise, display the correct page:
        showDecPage(currentDecPage);
        
    }

    
</script>