<div id="Edit" class="tabcontent">
    <h3>Edit</h3>
    <table class="table table-striped table-sm">
        <tr>
            <th scope="row">ID</th>
            <td style="font-weight: bold;">DATE</td>
            <td style="font-weight: bold;">AGENT NAME</td>
            <td style="font-weight: bold;">ACTION</td>
        </tr>
        <% for (var i = 0; i<bdnsw.length; i++) { %> 
            <tr>
                <th scope="row"><%= bdnsw[i]._id %></th>
                <% if (bdnsw[i].date) { %>
                    <% var thedate = bdnsw[i].date %>
                    <% var dd = String(thedate.getDate()).padStart(2, '0'); %>
                    <% var mm = String(thedate.getMonth() + 1).padStart(2, '0'); //January is 0! %>
                    <% var yyyy = thedate.getFullYear(); %>
                    <td><%= dd + "/" + mm + "/" + yyyy %></td>
                <% } else { %>
                <td><%= bdnsw[i].date %></td>
                <% } %>
                <td><%= bdnsw[i].agentName %></td>
                <td><a type="submit" href="/delete/<%= bdnsw[i]._id %>" method="POST" class="btn btn-light"> <i class="bi bi-trash3-fill"></i></a></td>
            </tr>
        <% } %>
      </table>
</div>
<div>
  
</div>

<script>

</script>