<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<div id="editRecords">
                        
    <h3>Declaration</h3>
    <form id ="recordsEdit" action = "/recordsEdit" method="POST">

        <!-- PAGE 1 -->
        <div class="recordsEditPage">
        <div class="row">
            <div class="col leftcolumn">
                <div>
                    <label for="date">Date Granted:</label>
                    <% var todayDate = new Date(); %>
                    <% var dd = String(todayDate.getDate()).padStart(2, '0'); %>
                    <% var mm = String(todayDate.getMonth() + 1).padStart(2, '0'); //January is 0! %>
                    <% var yyyy = todayDate.getFullYear(); %>

                    <% todayDate = yyyy + "-" + mm + "-" + dd; %>
                    <input type="date" id="dateGranted" name="dateGranted" value="<%= declaration3.dateGranted %>" size="30"/>
                    <label for="date">Departure Date:</label>
                    <input type="date" id="departureDate" name="departureDate" size="30" value="<%= declaration3.departureDate %>"/>
                    <input type="text" id="_id" name="_id" size="30" value="<%= declaration3._id %>" style="display:none"/>
                    <!--CEPT Option Normal/Cept-->
                    <label for="date">CEPT:</label>
                    <select name="cept" id="cept">
                        <option value="normal" <%= declaration3.cept==='normal' ? 'selected' : '' %>>Normal</option>
                        <option value="cept" <%= declaration3.cept==='cept' ? 'selected' : '' %>>CEPT</option>
                    </select>
                </div>
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Procedure</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Custom Procedure:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td>
                            <select name="customsProcedure" id="customsProcedure" onchange="autoCodeCustomProcedure()">
                                <optgroup label="-">
                                    <!--code 05--><option value="IMP" <%= declaration3.Procedure.customsProcedure==='IMP' ? 'selected' : '' %>>IMPORT</option>
                                    <!--code 07--><option value="REIMP" <%= declaration3.Procedure.customsProcedure==='REIMP' ? 'selected' : '' %>>RE-IMPORT</option>
                                    <!--code 10--><option value="ENTRYTOBOND" <%= declaration3.Procedure.customsProcedure==='ENTRYTOBOND' ? 'selected' : '' %>>ENTRY TO BOND (WAREHOUSE)</option>
                                    <!--code 11--><option value="TEMPIMP" <%= declaration3.Procedure.customsProcedure==='TEMPIMP' ? 'selected' : '' %>>TEMPORARY IMPORT</option>
                                    <!--code 15--><option value="TEMPIMPEXT" <%= declaration3.Procedure.customsProcedure==='TEMPIMPEXT' ? 'selected' : '' %>>TEMPORARY IMPORT (EXTENSION)</option>
                                    <!--code 09--><option value="IMPFROMBOND" <%= declaration3.Procedure.customsProcedure==='IMPFROMBOND' ? 'selected' : '' %>>IMPORTATION FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                                <optgroup label="-">
                                    <!--code 06--><option value="EXP" <%= declaration3.Procedure.customsProcedure==='EXP' ? 'selected' : '' %>>EXPORT</option>
                                    <!--code 08--><option value="REEXP" <%= declaration3.Procedure.customsProcedure==='REEXP' ? 'selected' : '' %>>RE-EXPORT</option>
                                    <!--code 16--><option value="TEMPEXP" <%= declaration3.Procedure.customsProcedure==='TEMPEXP' ? 'selected' : '' %>>TEMPORARY EXPORT</option>
                                    <!--code 14--><option value="EXPFROMBOND" <%= declaration3.Procedure.customsProcedure==='EXPFROMBOND' ? 'selected' : '' %>>EXPORT FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                                    <!--code 12--><option value="TRANSIT" <%= declaration3.Procedure.customsProcedure==='TRANSIT' ? 'selected' : '' %>>TRANSIT</option>
                                    <!--code 13--><option value="BONDEDMOVGOODS" <%= declaration3.Procedure.customsProcedure==='BONDEDMOVGOODS' ? 'selected' : '' %>>BONDED MOVEMENT OF GOODS (BETWEEN WAREHOUSE)</option>
                            </select>
                            Code: <input type="text" id="customsProcedureCode" name="customsProcedureCode" size="3" value="05"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Prev Procedure: </td>
                        <td>
                            <select name="previousProcedure" id="previousProcedure" onchange="autoCodePrevProcedure()">
                                    <option value=""></option>
                                <optgroup label="-">
                                    <!--code 05--><option value="IMP" <%= declaration3.Procedure.previousProcedure==='IMP' ? 'selected' : '' %>>IMPORT</option>
                                    <!--code 07--><option value="REIMP" <%= declaration3.Procedure.previousProcedure==='REIMP' ? 'selected' : '' %>>RE-IMPORT</option>
                                    <!--code 10--><option value="ENTRYTOBOND" <%= declaration3.Procedure.previousProcedure==='ENTRYTOBOND' ? 'selected' : '' %>>ENTRY TO BOND (WAREHOUSE)</option>
                                    <!--code 11--><option value="TEMPIMP" <%= declaration3.Procedure.previousProcedure==='TEMPIMP' ? 'selected' : '' %>>TEMPORARY IMPORT</option>
                                    <!--code 15--><option value="TEMPIMPEXT" <%= declaration3.Procedure.previousProcedure==='TEMPIMPEXT' ? 'selected' : '' %>>TEMPORARY IMPORT (EXTENSION)</option>
                                    <!--code 09--><option value="IMPFROMBOND" <%= declaration3.Procedure.previousProcedure==='IMPFROMBOND' ? 'selected' : '' %>>IMPORTATION FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                                <optgroup label="-">
                                    <!--code 06--><option value="EXP" <%= declaration3.Procedure.previousProcedure==='EXP' ? 'selected' : '' %>>EXPORT</option>
                                    <!--code 08--><option value="REEXP" <%= declaration3.Procedure.previousProcedure==='REEXP' ? 'selected' : '' %>>RE-EXPORT</option>
                                    <!--code 16--><option value="TEMPEXP" <%= declaration3.Procedure.previousProcedure==='TEMPEXP' ? 'selected' : '' %>>TEMPORARY EXPORT</option>
                                    <!--code 14--><option value="EXPFROMBOND" <%= declaration3.Procedure.previousProcedure==='EXPFROMBOND' ? 'selected' : '' %>>EXPORT FROM BOND (WAREHOUSE)</option>
                                </optgroup>
                                    <!--code 12--><option value="TRANSIT" <%= declaration3.Procedure.previousProcedure==='TRANSIT' ? 'selected' : '' %>>TRANSIT</option>
                                    <!--code 13--><option value="BONDEDMOVGOODS" <%= declaration3.Procedure.previousProcedure==='BONDEDMOVGOODS' ? 'selected' : '' %>>BONDED MOVEMENT OF GOODS (BETWEEN WAREHOUSE)</option>
                            </select>
                            Code: <input type="text" id="previousProcedureCode" name="previousProcedureCode" size="3"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Dutiable Indicator:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <select name="dutiableIndicator" id="dutiableIndicator" onchange="autoCodeDutiable()">
                                <!--code A--><option value="A" <%= declaration3.Procedure.dutiableIndicator==='A' ? 'selected' : '' %>>AIR</option>
                                <!--code B--><option value="N" <%= declaration3.Procedure.dutiableIndicator==='N' ? 'selected' : '' %>>SEA</option>
                                <!--code C--><option value="L" <%= declaration3.Procedure.dutiableIndicator==='L' ? 'selected' : '' %>>LAND</option>
                                <!--code D--><option value="P" <%= declaration3.Procedure.dutiableIndicator==='P' ? 'selected' : '' %>>POSTAL</option>
                            </select>
                            Code: <input type="text" id="dutiableIndicatorCode" name="dutiableIndicatorCode" size="3" value="A"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Clearance Station:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <select name="clearanceStation" id="clearanceStation" onchange="autoCodeClearance()">
                                <!--code 611--><option value="BSB" <%= declaration3.Procedure.clearanceStation==='BSB' ? 'selected' : '' %>>BSB</option>
                                <!--code 603--><option value="BSP WHARF" <%= declaration3.Procedure.clearanceStation==='BSP WHARF' ? 'selected' : '' %>>BSP WHARF</option>
                                <!--code 611--><option value="BSP WHARF + LONG ROOM" <%= declaration3.Procedure.clearanceStation==='BSP WHARF + LONG ROOM' ? 'selected' : '' %>>BSP WHARF + LONG ROOM</option>
                                <!--code 600--><option value="CUSTOMS HEADQUARTERS" <%= declaration3.Procedure.clearanceStation==='CUSTOMS HEADQUARTERS' ? 'selected' : '' %>>CUSTOMS HEADQUARTERS</option>
                                <!--code 601--><option value="INTERNATIONAL AIRPORT (CARGO)" <%= declaration3.Procedure.clearanceStation==='INTERNATIONAL AIRPORT (CARGO)' ? 'selected' : '' %>>INTERNATIONAL AIRPORT (CARGO)</option>
                                <!--code 609--><option value="INTERNATIONAL AIRPORT (PASSENGER)" <%= declaration3.Procedure.clearanceStation==='INTERNATIONAL AIRPORT (PASSENGER)' ? 'selected' : '' %>>INTERNATIONAL AIRPORT (PASSENGER)</option>
                                <!--code 622--><option value="KUALA BELAIT POST OFFICE" <%= declaration3.Procedure.clearanceStation==='KUALA BELAIT POST OFFICE' ? 'selected' : '' %>>KUALA BELAIT POST OFFICE</option>
                                <!--code 602--><option value="KUALA BELAIT WHARF" <%= declaration3.Procedure.clearanceStation==='KUALA BELAIT WHARF' ? 'selected' : '' %>>KUALA BELAIT WHARF</option>
                                <!--code 631--><option value="KUALA LURAH" <%= declaration3.Procedure.clearanceStation==='KUALA LURAH' ? 'selected' : '' %>>KUALA LURAH</option>
                                <!--code 621--><option value="MAIL PROCESSING CENTRE" <%= declaration3.Procedure.clearanceStation==='MAIL PROCESSING CENTRE' ? 'selected' : '' %>>MAIL PROCESSING CENTRE</option>
                                <!--code 616--><option value="MUARA CONTAINER" <%= declaration3.Procedure.clearanceStation==='MUARA CONTAINER' ? 'selected' : '' %>>MUARA CONTAINER</option>
                                <!--code 617--><option value="MUARA GUARD HOUSE" <%= declaration3.Procedure.clearanceStation==='MUARA GUARD HOUSE' ? 'selected' : '' %>>MUARA GUARD HOUSE</option>
                                <!--code 605--><option value="MUARA PORT" <%= declaration3.Procedure.clearanceStation==='MUARA PORT' ? 'selected' : '' %>>MUARA PORT</option>
                                <!--code 615--><option value="MUARA POST OFFICE" <%= declaration3.Procedure.clearanceStation==='MUARA POST OFFICE' ? 'selected' : '' %>>MUARA POST OFFICE</option>
                                <!--code 620--><option value="PUTAT" <%= declaration3.Procedure.clearanceStation==='PUTAT' ? 'selected' : '' %>>PUTAT</option>
                                <!--code 608--><option value="SERASA FERRY TERMINAL" <%= declaration3.Procedure.clearanceStation==='SERASA FERRY TERMINAL' ? 'selected' : '' %>>SERASA FERRY TERMINAL</option>
                                <!--code 618--><option value="SERASA FERRY NEW TERMINAL" <%= declaration3.Procedure.clearanceStation==='SERASA FERRY NEW TERMINAL' ? 'selected' : '' %>>SERASA NEW FERRY TERMINAL</option>
                                <!--code 623--><option value="SERIA POST OFFICE" <%= declaration3.Procedure.clearanceStation==='SERIA POST OFFICE' ? 'selected' : '' %>>SERIA POST OFFICE</option>
                                <!--code 612--><option value="SUNGAI TUJOH" <%= declaration3.Procedure.clearanceStation==='SUNGAI TUJOH' ? 'selected' : '' %>>SUNGAI TUJOH</option>
                                <!--code 634--><option value="TEMBURONG LABU" <%= declaration3.Procedure.clearanceStation==='TEMBURONG LABU' ? 'selected' : '' %>>TEMBURONG LABU</option>
                                <!--code 614--><option value="TEMBURONG POST OFFICE" <%= declaration3.Procedure.clearanceStation==='TEMBURONG POST OFFICE' ? 'selected' : '' %>>TEMBURONG POST OFFICE</option>
                                <!--code 604--><option value="TEMBURONG WHARF (BANGAR)" <%= declaration3.Procedure.clearanceStation==='TEMBURONG WHARF (BANGAR)' ? 'selected' : '' %>>TEMBURONG WHARF (BANGAR)</option>
                                <!--code 607--><option value="TUTONG POST OFFICE" <%= declaration3.Procedure.clearanceStation==='TUTONG POST OFFICE' ? 'selected' : '' %>>TUTONG POST OFFICE</option>
                            </select>
                            Code: <input type="text" id="clearanceStationCode" name="clearanceStationCode" size="3" value="611" required/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Exporter/Consigner</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Name: </td>
                        <td><input type="text" id="exporterName" name="exporterName" size="30" value="<%= declaration3.Exporter.exporterName %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Address: </td>
                        <td><input type="text" id="exporterAddress" name="exporterAddress" size="30" value="<%= declaration3.Exporter.exporterAddress %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Registration: </td>
                        <td><input type="text" id="exporterRegistration" name="exporterRegistration" size="20"value="<%= declaration3.Exporter.exporterRegistration %>"/>  Country <input type="text" id="exporterCountry" name="exporterCountry" size="10" value="<%= declaration3.Exporter.exporterCountry %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Telephone: </td>
                        <td><input type="text" id="exporterPhone" name="exporterPhone" size="30" value="<%= declaration3.Exporter.exporterPhone %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Postal: </td>
                        <td><input type="text" id="exporterPostal" name="exporterPostal" size="20" value="<% declaration3.Exporter.exporterPostal %>"/>  Transport <input type="text" id="exporterTransport" name="exporterTransport" size="10" value="<%= declaration3.Exporter.exporterTransport %>"/></td>
                    </tr>
                </table>
            </div>
            <!-- end left col-->
            <div class="col rightcolumn">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Importer/Consignee</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Type:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td>
                            <select name="importerType" id="importerType" onchange="autoImporterIdReg()">
                                <option value="TRDR" <%= declaration3.Importer.importerType==='TRDR' ? 'selected' : '' %>>TRDR</option>
                                <option value="INDV" <%= declaration3.Importer.importerType==='INDV' ? 'selected' : '' %>>INDV</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Name:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="importerName" name="importerName" size="30" value="<%= declaration3.Importer.importerName %>" required/></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Address:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><textarea id="importerAddress" name="importerAddress" cols="50" row="2" required><%= declaration3.Importer.importerAddress %></textarea></td>
                    </tr>
                    <tr id="importer12">
                        <th scope="row">12</th>
                        <td><p id="importerTRDR1">Reg:<i class="bi bi-star-fill" style="color: red;"></i></p><p id="importerINDV1" style="display:none">IC/PP:<i class="bi bi-star-fill" style="color: red;"></i></p></td>
                        <td id="importerTRDR2">
                            <input type="text" id="regTraderCoyRegNo" name="regTraderCoyRegNo" size="20" value="<%= declaration3.Importer.regTraderCoyRegNo %>"/>
                        </td>
                        <td id="importerINDV2" style="display:none">
                            <input type="text" id="importerRegistration" name="importerRegistration" size="20" value="<%= declaration3.Importer.importerRegistration %>"/>
                            IC Color: <input type="text" id="importerICColor" name="importerICColor" size="10" value="<%= declaration3.Importer.importerICColor %>"/>
                        </td>
                        
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Telephone:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <input type="text" id="importerPhone" name="importerPhone" size="10" value="<%= declaration3.Importer.importerPhone %>"/>
                            <span style="font-weight:bold">14.</span> Postal:<i class="bi bi-star-fill" style="color: red;"></i> <input type="text" id="importerPostal" name="importerPostal" size="10" value="<%= declaration3.Importer.importerPostal %>"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Agent</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>Name:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="agentName" name="agentName" size="30" value="GLOBEX GLOBAL LOGISTICS SDN BHD"/></td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>Address:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td><input type="text" id="agentAddress" name="agentAddress" size="30" value="UNIT 9, BLOCK A, SPG 188 JALAN BABU RAJA"/></td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>Registration:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="agentRegistration" name="agentRegistration" size="30" value="RC/00007286"/></td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>Telephone:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td>
                            <input type="text" id="agentPhone" name="agentPhone" size="10" value="2332065"/>
                            <span style="font-weight:bold">19.</span> Postal:<i class="bi bi-star-fill" style="color: red;"></i> <input type="text" id="agentPostal" name="agentPostal" size="10" value="BE1318"/>
                        </td>
                    </tr>
                </table>
                <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                -->
                <p></p>
            </div>
        </div>
        </div>
        <!-- PAGE 1 ENDS -->
        <!-- PAGE 2 -->
        <div class="recordsEditPage" style="display:none">
        <div class="row">
            <div class="col leftcolumn">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Transport</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>Arrival Date:<i class="bi bi-star-fill" style="color: red;"></i></td>
                        <td><input type="date" id="arrivalDate" name="arrivalDate" size="8" value="<%= declaration3.Transport.arrivalDate %>" required/> <span style="font-weight:bold"> 21.</span> Container No: <input type="text" id="containerNo" name="containerNo" size="8" value="<%= declaration3.Transport.containerNo %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td>Vessel Number:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="vesselNo" name="vesselNo" size="8" value="<%= declaration3.Transport.vesselNo %>" required/><span style="font-weight:bold"> 23.</span> Vessel Name:<i class="bi bi-star-fill" style="color: red;"></i> <input type="text" id="vesselName" name="vesselName" size="8" value="<%= declaration3.Transport.vesselName %>" required/></td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td>BL/DO/AWB:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="bldoawb" name="bldoawb" size="8" value="<%= declaration3.Transport.bldoawb %>" required/><span style="font-weight:bold"> 25.</span> HB/HAWB: <input type="text" id="hbhawb" name="hbhawb" size="8" value="<%= declaration3.Transport.hbhawb %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td>Country Shipment:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="countryShipment" name="countryShipment" size="8" value="<%= declaration3.Transport.countryShipment %>" required/>        Code: <input type="text" id="countryShipmentCode" name="countryShipmentCode" size="8" value="<%= declaration3.Transport.countryShipmentCode %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">27</th>
                        <td>Country Destination:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="countryDestination" name="countryDestination" size="8" value="<%= declaration3.Transport.countryDestination %>" required/>        Code: <input type="text" id="countryDestinationCode" name="countryDestinationCode" size="8" value="<%= declaration3.Transport.countryDestinationCode %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">28</th>
                        <td>Port of Entry:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="portOfEntry" name="portOfEntry" size="8" value="<%= declaration3.Transport.portOfEntry %>" required/>        Code: <input type="text" id="portOfEntryCode" name="portOfEntryCode" size="8" value="<%= declaration3.Transport.portOfEntryCode %>" required/></td>
                    </tr>
                    <tr>
                        <th scope="row">29</th>
                        <td>Port of Discharge:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="portOfDischarge" name="portOfDischarge" size="8" value="<%= declaration3.Transport.portOfDischarge %>" onchange='automatePortDischarge(this.value)' required/>        Code: <input type="text" id="portOfDischargeCode" name="portOfDischargeCode" size="8" value="<%= declaration3.Transport.portOfDischargeCode %>" required/></td>
                    </tr>
                    <tr>
                        <th scope="row">30</th>
                        <td>Place Release: </td>
                        <td><input type="text" id="placeRelease" name="placeRelease" size="8" value="<%= declaration3.Transport.placeRelease %>"/>        Code: <input type="text" id="placeReleaseCode" name="placeReleaseCode" size="8" value="<%= declaration3.Transport.placeReleaseCode %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">31</th>
                        <td>Place Receipt: </td>
                        <td><input type="text" id="placeReceipt" name="placeReceipt" size="8" value="<%= declaration3.Transport.placeReceipt %>"/>        Code: <input type="text" id="placeReceiptCode" name="placeReceiptCode" size="8" value="<%= declaration3.Transport.placeReceiptCode %>"/></td>
                    </tr>
                </table>
            </div>
            <!-- end left col-->
            <div class="col rightcolumn">
                <table class="table table-striped table-sm">
                    <tr>
                        <th scope="row"></th>
                        <td style="font-weight: bold;">Supporting Documents</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">32</th>
                        <td>Exchange Rate:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                        <td><input type="text" id="exchangeCurrency" name="exchangeCurrency" size="4" placeholder="Currency" value="<%= declaration3.SupportingDocuments.exchangeCurrency %>"/> <input type="text" id="exchangeRate" name="exchangeRate" size="10" placeholder="Rate" value="<%= declaration3.SupportingDocuments.exchangeRate %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row">33</th>
                        <td>Prev Declaration No: </td>
                        <td><input type="text" id="prevDeclarationNo" name="prevDeclarationNo" size="30" value="<%= declaration3.SupportingDocuments.prevDeclarationNo %>"/></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Duty Exem: </td>
                        <td><select name="dutyExem">
                                <option></option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                            <!--unknown LETTER yet-->
                            Letter <input type="text" id="letter" name="letter" size="20"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">31a.</th>
                        <td>Port Of Exit: </td>
                        <td><input type="text" id="portOfExit" name="portOfExit" size="8" value="<%= declaration3.SupportingDocuments.portOfExit %>"/>        Code: <input type="text" id="portOfExitCode" name="portOfExitCode" size="8" value="<%= declaration3.SupportingDocuments.portOfExitCode %>"/></td>
                    </tr>
                </table>
                <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                -->
                <p></p>
            </div>
        </div>
        </div>
        <!--Page 2 Ends-->
        <!-- PAGE 3 -->
        <div class="recordsEditPage" style="display:none">
            <div class="row">
                <div class="col leftcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">for Temporary Import</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">43</th>
                            <td>Type of Application:</td>
                            <td>
                                <select name="typeOfApplication">
                                    <option value=""></option>
                                    <option value="DEM">DEM</option>
                                    <option value="TSP">TSP</option>
                                    <option value="ESH">ESH</option>
                                    <option value="LSP">LSP</option>
                                </select>
                                <span style="font-weight:bold"> 44.</span> Granted Period (Mon): <input type="text" id="grantedPeriod" name="grantedPeriod" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">45</th>
                            <td>Est. Date of Export: </td>
                            <td><input type="date" id="estDateOfExport" name="estDateOfExport" size="8"/><span style="font-weight:bold"> 46.</span> Place Export: <input type="text" id="placeExport" name="placeExport" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">47</th>
                            <td>Project Name: </td>
                            <td><input type="text" id="projectName" name="projectName" size="30"/></td>
                        </tr>
                        <tr>
                            <th scope="row">48</th>
                            <td>Project Date From: </td>
                            <td><input type="date" id="projectDateFrom" name="projectDateFrom" size="8"/> 49: Date to: <input type="date" id="projectDateTo" name="projectDateTo" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">for Transit</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">50</th>
                            <td>Mode of Transport: </td>
                            <td>
                                <select name="modeTransport">
                                    <option value=""></option>
                                    <option value="L">L</option>
                                    <option value="S">S</option>
                                </select>
                                <span style="font-weight:bold"> 51.</span> Mean of Transport: <input type="text" id="meanTransport" name="meanTransport" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">52</th>
                            <td>Office of Dept (1st Check): </td>
                            <td><input type="text" id="officeDeptFirst" name="officeDeptFirst" size="8"/>        Code: <input type="text" id="officeDeptFirstCode" name="officeDeptFirstCode" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">53</th>
                            <td>Office of Dept (Last): </td>
                            <td><input type="text" id="officeDeptLast" name="officeDeptLast" size="8"/>        Code: <input type="text" id="officeDeptLastCode" name="officeDeptLastCode" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">54</th>
                            <td>Office of Dept (2nd Check): </td>
                            <td><input type="text" id="officeDeptSecond" name="officeDeptSecond" size="8"/>        Code: <input type="text" id="officeDeptSecondCode" name="officeDeptSecondCode" size="8"/></td>
                        </tr>
                        <tr>
                            <th scope="row">55</th>
                            <td>Office of Dept (3rd Check): </td>
                            <td><input type="text" id="officeDeptThird" name="officeDeptThird" size="8"/>        Code: <input type="text" id="officeDeptThirdCode" name="officeDeptThirdCode" size="8"/></td>
                        </tr>
                    </table>
                </div>
                <!-- end left col-->
                <div class="col rightcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">Security Deposit</td>
                            <td>(For Transit & Temporary Import Only)</td>
                        </tr>
                        <tr>
                            <th scope="row">56</th>
                            <td>Type of Deposit: </td>
                            <td>
                                <select name="depositType">
                                    <option value=""></option>
                                    <option value="Cash">CASH</option>
                                    <option value="Cheque">CHEQUE</option>
                                    <option value="Bank Guarantee">BANK GUARANTEE</option>
                                </select>
                                <span style="font-weight:bold"> 57.</span> Amount: <input type="text" id="depositAmount" name="depositAmount" size="8"/> 
                        </tr>
                        <tr>
                            <th scope="row">58</th>
                            <td>Bank Guarantee Amt: </td>
                            <td><input type="text" id="bankGuaranteeAmount" name="bankGuaranteeAmount" size="8" value="0.00"/><span style="font-weight:bold"> 59.</span> BG/Cheque No: <input type="text" id="bankGuaranteeNo" name="bankGuaranteeNo" size="8"/> </td>
                        </tr>
                        <tr>
                            <th scope="row">60</th>
                            <td>Bank Name: </td>
                            <td>
                                <input type="text" id="bankName" name="bankName" size="8"/>        Code: <input type="text" id="bankCode" name="bankCode" size="8"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">Goods</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">61.</th>
                            <td>Total Gross Weight:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                            <td>
                                <input type="text" id="totalGrossWeight" name="totalGrossWeight" size="3" value="<%= declaration3.DeclarationGoods.totalGrossWeight %>" required/>
                                <select name="grossWeightUnit">
                                    <option value="KG">KG</option>
                                    <option value="TN">TN</option>
                                </select>
                                <!-- Button trigger modal -->
                                <button type="button" onclick="getOutsideValue()" data-bs-toggle="modal" data-bs-target="#invoices">
                                    Invoices
                                </button>
  
                                <!-- The Modal -->
                                <div class="modal" id="invoices">
                                    <div class="modal-dialog modal-xl">
                                      <div class="modal-content">
  
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h4 class="modal-title">Invoices</h4>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
  
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                          <table class="table table-striped" id="invoiceTable">
                                            <tr>
                                                <th style='min-width:100px; max-width:100px;'>Invoice No</th>
                                                <td style="min-width:80px; max-width:80px;">Date</td>
                                                <td style="min-width:50px; max-width:50px;">Term</td>
                                                <td style="min-width:50px; max-width:50px;">CCY</td>
                                                <td style="min-width:80px; max-width:80px;">Amount</td>
                                                <td style="min-width:50px; max-width:50px;">FCCY</td>
                                                <td style="min-width:80px; max-width:80px;">Freight</td>
                                                <td style="min-width:50px; max-width:50px;">ICCY</td>
                                                <td style="min-width:80px; max-width:80px;">Insurance</td>
                                                <td style="min-width:80px; max-width:80px;">Other Chrg (BND)</td>
                                            </tr>
                                            <!-- HERE -->
                                            <% for (var j=0; j<declaration3.Invoice.length; j++) { %>
                                                <tr>
                                                    <th scope="row"><input type='text' class="invoiceNo" name='invoiceNo' size='6' value="<%= declaration3.Invoice[j].invoiceNo %>"/></th>
                                                    <td><input type='text' name='invoiceDate' size='3' value='<%= declaration3.Invoice[j].invoiceDate %>'/></td>
                                                    <td><input type='text' class='invoiceTerm' name='invoiceTerm' size='1' value='<%= declaration3.Invoice[j].invoiceTerm %>'/></td>
                                                    <td><input type='text' class='invoiceCCY' name='invoiceCCY' size='1' value='<%= declaration3.Invoice[j].invoiceCCY %>'/></td>
                                                    <td><input type='text' class='invoiceAmount' name='invoiceAmount' size='5' value='<%= declaration3.Invoice[j].invoiceAmount %>'/></td>
                                                    <td><input type='text' class='invoiceFreightCCY' name='invoiceFreightCCY' size='1' value='<%= declaration3.Invoice[j].invoiceFreightCCY %>'/></td>
                                                    <td><input type='text' class='invoiceFreightAmount' name='invoiceFreightAmount' size='5' value='<%= declaration3.Invoice[j].invoiceFreightAmount %>'/></td>
                                                    <td><input type='text' class='invoiceInsuranceCCY' name='invoiceInsuranceCCY' size='1' value='<%= declaration3.Invoice[j].invoiceInsuranceCCY %>'/></td>
                                                    <td><input type='text' class='invoiceInsuranceAmount' name='invoiceInsuranceAmount' size='3' value='<%= declaration3.Invoice[j].invoiceInsuranceAmount %>'/></td>
                                                    <td><input type='text' class='invoiceOtherCharges' name='invoiceOtherCharges' size='3' value='<%= declaration3.Invoice[j].invoiceOtherCharges %>'/></td>
                                                </tr>
                                            <% } %>
                                          </table>
                                          <table class="table table-striped" id="invoiceTotalTable">
                                            <!-- HERE -->
                                            <tr>
                                                <th scope="row"  style="min-width:100px; max-width:100px;"></th>
                                                <td style="min-width:80px; max-width:80px;"></td>
                                                <td style="min-width:50px; max-width:50px;"></td>
                                                <td style="min-width:50px; max-width:50px;"></td>
                                                <td style="min-width:80px; max-width:80px;"><input type='text' id='totalInvoiceInvoiceAmount' name='totalInvoiceInvoiceAmount' size='5' value=''/></td>
                                                <td style="min-width:50px; max-width:50px;"></td>
                                                <td style="min-width:80px; max-width:80px;"><input type='text' id='totalInvoiceFreightAmount' name='totalInvoiceFreightAmount' size='5' value=''/></td>
                                                <td style="min-width:50px; max-width:50px;"></td>
                                                <td style="min-width:80px; max-width:80px;"><input type='text' id='totalInvoiceInsuranceAmount' name='totalInvoiceInsuranceAmount' size='3' value=''/></td>
                                                <td style="min-width:80px; max-width:80px;"><input type='text' id='totalInvoiceOtherCharges' name='totalInvoiceOtherCharges' size='3' value=''/></td>
                                            </tr>
                                          </table>
                                        </div>
  
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="calculateInvoice(); calculateCif(); calculateDuty()">Calculate</button>
                                            <button type="button" class="btn btn-success" onclick="addInvoice(); getOutsideValue(); calculateInvoice();">Add</button>
                                            <button type="button" class="btn btn-danger" onclick="removeInvoice()">Remove</button>
                                            <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> -->
                                        </div>
  
                                      </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">62.</th>
                            <td>Total No of Packages:<i class="bi bi-star-fill" style="color: red;"></i> </td>
                            <td>
                                <input type="text" id="totalPackagesNo" name="totalPackagesNo" size="3" value="<%= declaration3.DeclarationGoods.totalPackagesNo %>" required/>
                                <select name="packageNoUnit">
                                    <option value="CTN" <%= declaration3.DeclarationGoods.packageNoUnit==='CTN' ? 'selected' : '' %>>CTN</option>
                                    <option value="PCS" <%= declaration3.DeclarationGoods.packageNoUnit==='PCS' ? 'selected' : '' %>>PCS</option>
                                    <option value="CAS" <%= declaration3.DeclarationGoods.packageNoUnit==='CAS' ? 'selected' : '' %>>CAS</option>
                                    <option value="UNT" <%= declaration3.DeclarationGoods.packageNoUnit==='UNT' ? 'selected' : '' %>>UNT</option>
                                    <option value="BTL" <%= declaration3.DeclarationGoods.packageNoUnit==='BTL' ? 'selected' : '' %>>BTL</option>
                                    <option value="LOT" <%= declaration3.DeclarationGoods.packageNoUnit==='LOT' ? 'selected' : '' %>>LOT</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">63</th>
                            <td>Total Invoice Amount: </td>
                            <td>
                                <input type="text" id="totalInvoiceAmount" name="totalInvoiceAmount" size="8" value="<%= (declaration3.DeclarationGoods.totalInvoiceAmount).toFixed(2) %>" onchange="calculateCif()" required/> CCY: <input type="text" id="invoiceCurrency" name="invoiceCurrency" size="3" value="<%= declaration3.DeclarationGoods.invoiceCurrency %>" required/> Rate: <input type="text" id="invoiceRate" name="invoiceRate" size="3" value="<%= declaration3.DeclarationGoods.invoiceRate %>"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">64</th>
                            <td>Insurance: </td>
                            <td>
                                <select id="invoiceInsuranceType" name="invoiceInsuranceType">
                                    <option value="F" <%= declaration3.DeclarationGoods.invoiceInsuranceType==='F' ? 'selected' : '' %>>F</option>
                                    <option value="P" <%= declaration3.DeclarationGoods.invoiceInsuranceType==='P' ? 'selected' : '' %>>P</option>
                                </select>
                                <i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="insuranceAmount" name="insuranceAmount" size="8" value="<%= declaration3.DeclarationGoods.insuranceAmount %>" onchange="calculateCifPerKg()" required/> CCY: <input type="text" id="insuranceCurrency" name="insuranceCurrency" size="3" value="<%= declaration3.DeclarationGoods.insuranceCurrency %>" required/> Rate: <input type="text" id="insuranceRate" name="insuranceRate" size="3" value="<%= declaration3.DeclarationGoods.insuranceRate %>"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">65</th>
                            <td>Freight Chg: </td>
                            <td>
                                <select name="freightType">
                                    <option value=""></option>
                                    <option value="F" <%= declaration3.DeclarationGoods.freightType==='F' ? 'selected' : '' %>>F</option>
                                </select>
                                <i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="freightCharge" name="freightCharge" size="8" value="<%= declaration3.DeclarationGoods.freightCharge %>" onchange="calculateCif()" required/> CCY: <input type="text" id="freightCurrency" name="freightCurrency" size="3" value="<%= declaration3.DeclarationGoods.freightCurrency %>" required/> Rate: <input type="text" id="freightRate" name="freightRate" size="3" value="<%= declaration3.DeclarationGoods.freightRate %>"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">66</th>
                            <td>Other Charges (B$): </td>
                            <td>
                                <input type="text" id="otherCharges" name="otherCharges" size="8" value="<%= declaration3.DeclarationGoods.otherCharges %>" onchange="calculateCif()"/> <span style="font-weight:bold"> <i class="bi bi-star-fill" style="color: red;"></i>66a.</span>
                                <select id="otherChargesType" name="otherChargesType" onchange="getOutsideValue()">
                                    <option value="CFR" <%= declaration3.DeclarationGoods.otherChargesType==='CFR' ? 'selected' : '' %>>CFR</option>
                                    <option value="CIF" <%= declaration3.DeclarationGoods.otherChargesType==='CIF' ? 'selected' : '' %>>CIF</option>
                                    <option value="FOB" <%= declaration3.DeclarationGoods.otherChargesType==='FOB' ? 'selected' : '' %>>FOB</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                    -->
                    <p></p>
                </div>
            </div>
            </div>
            <!--Page 3 Ends-->
            <!-- PAGE 4 -->
        <div class="recordsEditPage" style="display:none">
            <div class="row">
                <div class="col leftcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row"></th>
                            <td style="font-weight: bold;">Declaration</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">79</th>
                            <td>Name:</td>

                            <td><i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="declarantName" name="declarantName" value="<%= declaration3.Declarant.declarantName %>" size="30"/></td>
                        </tr>
                        <tr>
                            <th scope="row">80</th>
                            <td>ID Type: </td>
                            <td><i class="bi bi-star-fill" style="color: red;"></i>
                                <select name="declarantID">
                                    <option value="IC">IC</option>
                                    <option value="PP">PP</option>
                                </select> 
                        </tr>
                        <tr>
                            <th scope="row">81</th>
                            <td>IC No: </td>
                            <td><i class="bi bi-star-fill" style="color: red;"></i><input type="text" id="declarantICNo" name="declarantICNo" size="10" value="<%= declaration3.Declarant.declarantICNo %>"/><i class="bi bi-star-fill" style="color: red;"></i><span style="font-weight:bold"> 82.</span> IC Color <input type="text" id="declarantICColor" name="declarantICColor" size="10" value="<%= declaration3.Declarant.declarantICColor %>"/></td>
                        </tr>
                        <tr>
                            <th scope="row">83</th>
                            <td>Designation: </td>
                            <td><input type="text" id="declarantDesignation" name="declarantDesignation" size="30" value="<%= declaration3.Declarant.declarantDesignation %>"/></td>
                        </tr>
                        
                    </table>
                </div>
                <!-- end left col-->
                <div class="col rightcolumn">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th scope="row">84</th>
                            <td>Date Declare: </td>
                            <td><i class="bi bi-star-fill" style="color: red;"></i><input type="date" id="declarationDate" name="declarationDate" value="<%= declaration3.declarationDate %>"required/> 
                        </tr>
                        <br>
                        <tr>
                            <th scope="row"></th>
                            <td>Shipping Mark: </td>
                            <td>
                                <input type="text" id="shippingMark" name="shippingMark" size="30" value="<%= declaration3.shippingMark %>" oninput="autoShippingMark()" required/>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <th scope="row"></th>
                            <td>Posted by: </td>
                            <td>
                                <input type="text" name="postedBy" value="<%= declaration3.postedBy %>" size="30"/>
                            </td>
                        </tr>
                        
                    </table>
                    <!--<button type="submit" class="text-right" style="float: right; padding-left:20px; padding-right: 20px">Submit</button>
                    -->
                    <p></p>
                </div>
            </div>
            </div>
            <!--Page 4 Ends-->
        <div style="overflow:auto;">
            <div style="float:right;">
              <button type="button" id="prevDecBtn" onclick="nextDecPrev(-1)">Previous</button>
              <button type="button" id="nextDecBtn" onclick="nextDecPrev(1)">Next</button>
            </div>
          </div>

          <div class = "row align-items-start" style="max-height: 600px ;overflow: scroll; border: 1px solid black">
                <table class="table table-striped table-sm table-bordered" id="goodsTable">
                    
                    <tr>
                        <th scope="row">Item</th>
                        <td style="min-width:20px; max-width:20px;">No Package</td>
                        <td class="column-3">Package Unit</td>
                        <td style="min-width:20px; max-width:20px;">O. Country</td>
                        <td>Code</td>
                        <td>HS Code</td>
                        <td>Sub Code</td>
                        <td style="min-width:20px; max-width:20px;">Goods</td>
                        <td>C</td>
                        <td>Unit</td>
                        <td>Code</td>
                        <td>Qty</td>
                        <td>Weight</td>
                        <td>Amount</td>
                        <td>CIF</td>
                        <td>Duty</td>
                        <td style="min-width:20px; max-width:20px;">Duty Amount</td>
                        <td>LNo</td>
                        <td>Shipping Mark</td>
                        <td style="min-width:80px; max-width:80px;">Container No</td>
                        <td>Invoice No</td>
                        <td>Control</td>
                        <td>Import Duty</td>
                        <td>Excise Duty</td>
                    </tr>
                    <% for (var j=0; j<declaration3.Goods.length; j++) { %>
                    <tr>
                        <th scope="row" class="goodsSerialNoClass"><input type='text' name='goodsSerialNo' size='1' value="<%= declaration3.Goods[j].goodsSerialNo %>" readonly/></th>
                        <td><input type='text' name='goodsPackageNo' size='1' value='<%= declaration3.Goods[j].goodsPackageNo %>'/></td>
                        <td><input type='text' name='goodsPackageUnit' size='3' value='<%= declaration3.Goods[j].goodsPackageUnit %>'/></td>
                        <td><input type='text' name='countryOrigin' size='3' value='<%= declaration3.Goods[j].countryOrigin %>'/></td>
                        <td><input type='text' name='countryCode' size='3' value='<%= declaration3.Goods[j].countryCode %>'/></td>
                        <td><input type='text' class='hsCode' name='hsCode' size='8' ondblclick='openHSCode(<%=j%>)' value='<%= declaration3.Goods[j].hsCode %>'/></td>
                        <td><input type='text' name='subCode' size='8' value='<%= declaration3.Goods[j].subCode %>'/></td>
                        <td><input type='text' name='goodsDescription' value='<%= declaration3.Goods[j].goodsDescription %>'/></td>
                        <td><input type='text' name='goodsC' size='3' value='<%= declaration3.Goods[j].goodsC %>'/></td>
                        <td><input type='text' class='goodsUnit' name='goodsUnit' size='1' value='<%= declaration3.Goods[j].goodsUnit %>'/></td>
                        <td><input type='text' name='goodsCode' size='3' value='<%= declaration3.Goods[j].goodsCode %>'/></td>
                        <td><input type='text' name='goodsQuantity' size='1' value='<%= declaration3.Goods[j].goodsQuantity %>' required/></td>
                        <td><input type='text' class='goodsWeight' name='goodsWeight' size='3' value='<%= declaration3.Goods[j].goodsWeight %>' required/></td>
                        <td><input type='text' class='goodsAmount' name='goodsAmount' size='3' value='<%= declaration3.Goods[j].goodsAmount %>' onchange='calculateCif()' required/></td>
                        <td><input type='text' class='goodsCif' name='goodsCIF' size='2' value='<%= declaration3.Goods[j].goodsCIF %>' readonly/></td>
                        <td><input type='text' class='goodsDuty' name='goodsDuty' size='1' value='<%= declaration3.Goods[j].goodsDuty %>' onchange='calculateDuty()'/></td>
                        <td><input type='text' class='goodsDutyAmount' name='goodsDutyAmount' size='1' value='<%= declaration3.Goods[j].goodsDutyAmount %>'/></td>
                        <td><input type='text' name='goodsLNo' size='1' value='<%= declaration3.Goods[j].goodsLNo %>'/></td>
                        <td><input type='text' class="goodsShippingMark" name='goodsShippingMark' value='<%= declaration3.Goods[j].goodsShippingMark %>'/></td>
                        <td><input type='text' name='goodsContainerNo' size='1' value='<%= declaration3.Goods[j].goodsContainerNo %>'/></td>
                        <td><input type='text' class='goodsInvoiceNo' name='goodsInvoiceNo' value='<%= declaration3.Goods[j].goodsInvoiceNo %>' required/></td>
                        <td><input type='text' name='goodsControl' value='<%= declaration3.Goods[j].goodsControl %>'/></td>
                        <td><input type='text' class='goodsImportDuty' name='goodsImportDuty' size='1' value='<%= declaration3.Goods[j].goodsImportDuty %>'/></td>
                        <td><input type='text' class='goodsExciseDuty' name='goodsExciseDuty' size='1' value='<%= declaration3.Goods[j].goodsExciseDuty %>'/></td>
                    </tr>
                    <% } %>
                    
                </table>

                <!-- //totals table -->
                <table class="table table-striped table-sm table-bordered" id="totalsTable">
                    
                    <tr>
                        <th scope="row" class="goodsSerialNoTotal"><input type='text' style='border-color:transparent;background:transparent' size='1' readonly/></th>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='1' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='3' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='3' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='3' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='8' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='8' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='3' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='1' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='3' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='1' value='' readonly/></td>
                        <td><input type='text' id='goodsTotalWeight' size='3' value='' readonly/></td>
                        <td><input type='text' id='goodsTotalAmount' size='3' value='' readonly/></td>
                        <td><input type='text' id='goodsTotalCif' size='2' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='1' value='' readonly/></td>
                        <td><input type='text' id='goodsTotalDutyAmount' size='1' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='1' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' value='' readonly/></td>
                        <td style="min-width:80px; max-width:80px;"><input type='text' style='border:transparent;background:transparent' size='1' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='1' value='' readonly/></td>
                        <td><input type='text' style='border-color:transparent;background:transparent' size='1' value='' readonly/></td>
                    </tr>
                    
                </table>
                
            </div>
        </div>
        <button type="button" onclick="calculateSomething(); calculateCif(); calculateDuty()">Calculate</button>
        <button onclick="addGoods()" class="btn inline ms-auto btn-success" style="width: 100%">Add Goods</button>
        <button type="button" onclick="removeGoods()" class="btn inline ms-auto btn-danger" style="width: 100%">Remove Goods</button>
    <br>
    <p></p>
     <button type="submit" class="btn inline btn-success" onclick="clicked(event)" style="width: 100%">Submit</button>
     <p></p>
    </form>
    


    <!-- The Modal for HSCode -->
    <div class="modal" id="hscodem">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">HS Code</h4>
              <p id="thevalue"></p>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
            <div style="height: 500px; overflow:auto">
              <input type="text" id="filterHSCode" onkeyup="filterHSCode()" placeholder="Search HSCode.." title="Filter by HS Code">
              <table class="table table-striped" id="hscodeTable">
                <tr>
                    <th style='min-width:50px; max-width:50px; '>Heading</th>
                    <td>HS Code</td>
                    <td>Description</td>
                    <td>Quantity</td>
                    <td>Rate of Import Duty</td>
                    <td>Rate of Excise Duty</td>
                </tr>
                <!-- HERE -->
                <% for (var k=0; k<hscode2.length; k++) { %>
                    <tr>
                        <th scope="row"><%= hscode2[k].Heading %></th>
                        <td class='selectHsCode' ondblclick="selectHSCode(document.getElementById('thevalue').innerHTML, document.getElementsByClassName('selectHsCode')[<%=k%>].innerHTML, document.getElementsByClassName('selectQuantity')[<%=k%>].innerHTML, document.getElementsByClassName('selectImportRate')[<%=k%>].innerHTML, document.getElementsByClassName('selectExciseRate')[<%=k%>].innerHTML)"><%= hscode2[k].HSCode %></td>
                        <td style="max-width: 250px; word-wrap: break-word;" class="selectDescription" ondblclick="selectHSCode(document.getElementById('thevalue').innerHTML, document.getElementsByClassName('selectHsCode')[<%=k%>].innerHTML, document.getElementsByClassName('selectQuantity')[<%=k%>].innerHTML, document.getElementsByClassName('selectImportRate')[<%=k%>].innerHTML, document.getElementsByClassName('selectExciseRate')[<%=k%>].innerHTML)"><%= hscode2[k].Description %></td>
                        <td class="selectQuantity" ondblclick="selectHSCode(document.getElementById('thevalue').innerHTML, document.getElementsByClassName('selectHsCode')[<%=k%>].innerHTML, document.getElementsByClassName('selectQuantity')[<%=k%>].innerHTML, document.getElementsByClassName('selectImportRate')[<%=k%>].innerHTML, document.getElementsByClassName('selectExciseRate')[<%=k%>].innerHTML)"><%= hscode2[k].Quantity %></td>
                        <td class="selectImportRate" ondblclick="selectHSCode(document.getElementById('thevalue').innerHTML, document.getElementsByClassName('selectHsCode')[<%=k%>].innerHTML, document.getElementsByClassName('selectQuantity')[<%=k%>].innerHTML, document.getElementsByClassName('selectImportRate')[<%=k%>].innerHTML, document.getElementsByClassName('selectExciseRate')[<%=k%>].innerHTML)"><%= hscode2[k].ImportDutyRate %></td>
                        <td class="selectExciseRate" ondblclick="selectHSCode(document.getElementById('thevalue').innerHTML, document.getElementsByClassName('selectHsCode')[<%=k%>].innerHTML, document.getElementsByClassName('selectQuantity')[<%=k%>].innerHTML, document.getElementsByClassName('selectImportRate')[<%=k%>].innerHTML, document.getElementsByClassName('selectExciseRate')[<%=k%>].innerHTML)"><%= hscode2[k].ExciseDutyRate %></td>
                    </tr>
                <% } %>
              </table>
            </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
    </div>
    
</div>

<script>
    //Page function
    onload=autoCodeCustomProcedure();
    onload=autoCodePrevProcedure();
    onload=autoCodeDutiable();
    onload=autoCodeClearance();
    onload=autoShippingMark();
    onload=autoImporterIdReg();
    
    window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);

    function clicked(e) {
        if(!confirm('Are you sure?')) {
            e.preventDefault();
        }
    }

    
    // const myModal = document.getElementById('myModal')
    // const myInput = document.getElementById('myInput')

    // myModal.addEventListener('shown.bs.modal', () => {
    //     myInput.focus()
    // })

    var currentDecPage = 0; // Current page is set to be the first page (0)
    showDecPage(currentDecPage); // Display the current page
    
    function showDecPage(nd) {
        // This function will display the specified page of the form ...
        var jd = document.getElementsByClassName("recordsEditPage");
        jd[nd].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (nd == 0) {
            document.getElementById("prevDecBtn").style.display = "none";
        } else {
            document.getElementById("prevDecBtn").style.display = "inline";
        }
        if (nd == (jd.length - 1)) {
            document.getElementById("nextDecBtn").style.display = "none";
            document.getElementById("nextDecBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextDecBtn").style.display = "inline";
            document.getElementById("nextDecBtn").innerHTML = "Next";
        }

    }

    

    function nextDecPrev(nd) {
        // This function will figure out which page to display
        var jd = document.getElementsByClassName("recordsEditPage");
        // Exit the function if any field in the current page is invalid:
        //if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        jd[currentDecPage].style.display = "none";
        // Increase or decrease the current page by 1:
        currentDecPage = currentDecPage + nd;
        // if you have reached the end of the form... :
        if (currentDecPage == jd.length) {
            //...the form gets submitted:
            document.getElementById("recordsEdit").submit();
            document.getElementById("nextDecBtn").innerHTML = "Return to Home Page";
            //return false;
            if (document.getElementById("nextDecBtn").innerHTML == "Return to Home Page"){
                setTimeout(function(){
                    document.getElementById("recordsEdit").action = "/declaration3";
                    document.getElementById("recordsEdit").submit();
                },3000);
                
            }
        }
        if (currentDecPage > jd.length) {
            //...the form gets submitted:
            //document.getElementById("nextBtn").innerHTML = "Return to Home Page";
            document.getElementById("recordsEdit").action = "/declaration3";
            //document.getElementById("declaration").submit();
            
            return "/";
        }
        // Otherwise, display the correct page:
        showDecPage(currentDecPage);
        
    }

//GOODS
    if (document.getElementsByClassName("goodsSerialNoClass").length) {
        var x = document.getElementsByClassName("goodsSerialNoClass").length;
    } else {
        var x = 0;
    }
    
//GOODS TABLE
    function addGoods() {
        x++
        var addRow = document.getElementById("goodsTable");
        var tr = document.createElement('tr');
        tr.innerHTML = "<th scope='row'><input type='text' class='goodsSerialNoClass' name='goodsSerialNo' size='1' value="+x+" readonly/></th><td><input type='text' name='goodsPackageNo' size='1' value=''/></td><td><input type='text' name='goodsPackageUnit' size='3' value=''/></td><td><input type='text' name='countryOrigin' size='3' value=''/></td><td><input type='text' name='countryCode' size='3' value=''/></td><td><input type='text' class='hsCode' name='hsCode' ondblclick='openHSCode("+(x-1)+")' size='8' /></td><td><input type='text' name='subCode' size='8' value=''/></td><td><input type='text' name='goodsDescription' value=''/></td><td><input type='text' name='goodsC' size='3' value=''/></td><td><input type='text' class='goodsUnit' name='goodsUnit' size='1' value=''/></td><td><input type='text' name='goodsCode' size='3' value=''/></td><td><input type='text' name='goodsQuantity' size='1' required/></td><td><input type='text' class='goodsWeight' name='goodsWeight' size='3' required/></td><td><input type='text' class='goodsAmount' name='goodsAmount' size='3' required/></td><td><input type='text' class='goodsCIF' name='goodsCIF' size='1' value='' oninput='calculateDuty()'/></td><td><input type='text' class='goodsDuty' name='goodsDuty' size='1' value='' oninput='calculateDuty()'/></td><td><input type='text' class='goodsDutyAmount' name='goodsDutyAmount' size='1' value=''/></td><td><input type='text' name='goodsLNo' size='1' value=''/></td><td><input type='text' class='goodsShippingMark' name='goodsShippingMark' value='' required/></td><td><input type='text' name='goodsContainerNo' size='1' value=''/></td><td><input type='text' class='goodsInvoiceNo' name='goodsInvoiceNo' required/></td><td><input type='text' name='goodsControl' value=''/></td><td><input type='text' class='goodsImportDuty' name='goodsImportDuty' size='1' value=''/></td><td><input type='text' class='goodsExciseDuty' name='goodsExciseDuty' size='1' value=''/></td>";
        
        addRow.appendChild(tr);
    }

    function removeGoods() {
        var removeRow = document.getElementById("goodsTable");
        //var tr = document.removeChild('tr');
        //tr.innerHTML = "<th scope='row'><input type='text' class='goodsSerialNoClass' name='goodsSerialNo' size='1' value="+x+" readonly/></th><td><input type='text' name='goodsPackageNo' size='1' value=''/></td><td><input type='text' name='goodsPackageUnit' size='3' value=''/></td><td><input type='text' name='countryOrigin' size='3' value=''/></td><td><input type='text' name='countryCode' size='3' value=''/></td><td><input type='text' name='hsCode' size='8' /></td><td><input type='text' name='subCode' size='8' value=''/></td><td><input type='text' name='goodsDescription' value=''/></td><td><input type='text' name='goodsC' size='3' value=''/></td><td><input type='text' name='goodsUnit' size='1' value=''/></td><td><input type='text' name='goodsCode' size='3' value=''/></td><td><input type='text' name='goodsQuantity' size='1' required/></td><td><input type='text' name='goodsWeight' size='3' required/></td><td><input type='text' name='goodsAmount' size='3' required/></td><td><input type='text' name='goodsCIF' size='1' value=''/></td><td><input type='text' name='goodsDuty' size='1' value=''/></td><td><input type='text' name='goodsDutyAmount' size='1' value=''/></td><td><input type='text' name='goodsLNo' size='1' value=''/></td><td><input type='text' name='goodsShippingMark' value=''/></td><td><input type='text' name='goodsContainerNo' size='1' value=''/></td><td><input type='text' name='goodsInvoiceNo' required/></td><td><input type='text' name='goodsControl' value=''/></td><td><input type='text' name='goodsImportDuty' size='1' value=''/></td><td><input type='text' name='goodsExciseDuty' size='1' value=''/></td>";
        var templength = removeRow.rows.length;
        removeRow.deleteRow(templength - 1);
    }

    //INVOICE (PROBABLY UNNECESSARY, Y ALWAYS BE = invoiceNo length)
    if (document.getElementsByClassName("invoiceNo").length) {
        var y = document.getElementsByClassName("invoiceNo").length;
    } else {
        var y = 0;
    }
    //INVOICE TABLE

    function getOutsideValue(){
        for(var k = 0; k<document.getElementsByClassName("invoiceTerm").length; k++){
            document.getElementsByClassName("invoiceTerm")[k].value = document.getElementById("otherChargesType").value;
            document.getElementsByClassName("invoiceCCY")[k].value = document.getElementById("invoiceCurrency").value;
            document.getElementsByClassName("invoiceFreightCCY")[k].value = document.getElementById("freightCurrency").value;
            document.getElementsByClassName("invoiceInsuranceCCY")[k].value = document.getElementById("insuranceCurrency").value;
        }
    }

    function addInvoice() {
        y++
        var addRow = document.getElementById("invoiceTable");
        var tr = document.createElement('tr');
        tr.innerHTML = "<tr><th scope='row'><input type='text' class='invoiceNo' name='invoiceNo' style='min-width:100px; max-width:100px;' size='3' value=''/></th><td><input type='text' name='invoiceDate' style='min-width:80px; max-width:80px;' size='3' value=''/></td><td><input type='text' class='invoiceTerm' name='invoiceTerm' style='min-width:50px; max-width:50px;' size='1' value=''/></td><td><input type='text' class='invoiceCCY' name='invoiceCCY' style='min-width:50px; max-width:50px;' size='1' value=''/></td><td><input type='text' class='invoiceAmount' name='invoiceAmount' style='min-width:80px; max-width:80px;' size='5' value=''/></td><td><input type='text' class='invoiceFreightCCY' style='min-width:50px; max-width:50px;' name='invoiceFreightCCY' size='1' value=''/></td><td><input type='text' class='invoiceFreightAmount' name='invoiceFreightAmount' style='min-width:80px; max-width:80px;' size='5' value=''/></td><td><input type='text' class='invoiceInsuranceCCY' name='invoiceInsuranceCCY' style='min-width:50px; max-width:50px;' size='1' value=''/></td><td><input type='text' class='invoiceInsuranceAmount' name='invoiceInsuranceAmount' style='min-width:80px; max-width:80px;' size='3' value=''/></td><td><input type='text' class='invoiceOtherCharges' name='invoiceOtherCharges' style='min-width:80px; max-width:80px;' size='3' value=''/></td></tr>"
        
        addRow.appendChild(tr);
    }

    function removeInvoice() {
        var removeRow = document.getElementById("invoiceTable");
        var templength = removeRow.rows.length;
        removeRow.deleteRow(templength - 1);
    }

    //ALL SHOVED INTO CALCULATEINVOICE
    // function calculateFreight(){
    // }
    // function calculateInsurance(){
    // }
    // function calculateOtherCharges(){
    // }

    function calculateInvoice() {
        //CALCULATION HERE IS BEFORE CONVERSION
        //calculate INVOICE AMOUNT first
        var totalInvoiceAmount = 0;
        var invAmt = document.getElementsByClassName('invoiceAmount');
        
        for(var ii = 0; ii<document.getElementsByClassName('invoiceAmount').length; ii++){
            totalInvoiceAmount = totalInvoiceAmount + Number(invAmt[ii].value);
            document.getElementById('totalInvoiceInvoiceAmount').value = totalInvoiceAmount.toFixed(2);
        }

        //calculate the rest USING INVOICE AMOUNT result
        
        var totalInvoiceInsuranceAmount = 0;
        var totalInvoiceFreightAmount = 0;
        var totalInvoiceOtherCharges = 0;
        
        var invInAmt = document.getElementsByClassName('invoiceInsuranceAmount');
        var invFrAmt = document.getElementsByClassName('invoiceFreightAmount');
        var invOtCh = document.getElementsByClassName('invoiceOtherCharges');

        //INSURANCE
        if(document.getElementById('invoiceInsuranceType').value == 'F'){
            //document.getElementById('totalInvoiceInsuranceAmount').value = (Number(document.getElementById('insuranceAmount').value) * Number(document.getElementById('insuranceRate').value)).toFixed(2);
            document.getElementById('totalInvoiceInsuranceAmount').value = Number(document.getElementById('insuranceAmount').value).toFixed(2);
        }
        else {
            //document.getElementById('totalInvoiceInsuranceAmount').value = (((document.getElementById('totalInvoiceInvoiceAmount').value * Number(document.getElementById('insuranceAmount').value))/100) * Number(document.getElementById('insuranceRate').value)).toFixed(2);
            document.getElementById('totalInvoiceInsuranceAmount').value = (((document.getElementById('totalInvoiceInvoiceAmount').value * Number(document.getElementById('insuranceAmount').value))/100)).toFixed(2)
        }
        //FREIGHT
        //document.getElementById('totalInvoiceFreightAmount').value = (Number(document.getElementById('freightCharge').value) * Number(document.getElementById('freightRate').value)).toFixed(2);
        document.getElementById('totalInvoiceFreightAmount').value = Number(document.getElementById('freightCharge').value).toFixed(2);

        //OTHER CHARGES
        document.getElementById('totalInvoiceOtherCharges').value = (Number(document.getElementById('otherCharges').value)).toFixed(2);

        for(var ij = 0; ij<document.getElementsByClassName('invoiceAmount').length; ij++){
            invFrAmt[ij].value = (document.getElementById('totalInvoiceFreightAmount').value * (invAmt[ij].value / document.getElementById('totalInvoiceInvoiceAmount').value)).toFixed(2);

            invInAmt[ij].value = (document.getElementById('totalInvoiceInsuranceAmount').value * (invAmt[ij].value / document.getElementById('totalInvoiceInvoiceAmount').value)).toFixed(2);

            invOtCh[ij].value = (document.getElementById('totalInvoiceOtherCharges').value * (invAmt[ij].value / document.getElementById('totalInvoiceInvoiceAmount').value)).toFixed(2);
        }

    }

    function autoCodeCustomProcedure() {
        document.getElementById("customsProcedureCode").value = "";
        if((document.getElementById("customsProcedure").value)==="IMP"){
            document.getElementById("customsProcedureCode").value = "05";
        }
        else if((document.getElementById("customsProcedure").value)==="REIMP"){
            document.getElementById("customsProcedureCode").value = "07";
        }
        else if((document.getElementById("customsProcedure").value)==="ENTRYTOBOND"){
            document.getElementById("customsProcedureCode").value = "10";
        }
        else if((document.getElementById("customsProcedure").value)==="TEMPIMP"){
            document.getElementById("customsProcedureCode").value = "11";
        }
        else if((document.getElementById("customsProcedure").value)==="TEMPIMPEXT"){
            document.getElementById("customsProcedureCode").value = "15";
        }
        else if((document.getElementById("customsProcedure").value)==="IMPFROMBOND"){
            document.getElementById("customsProcedureCode").value = "09";
        }
        else if((document.getElementById("customsProcedure").value)==="EXP"){
            document.getElementById("customsProcedureCode").value = "06";
        }
        else if((document.getElementById("customsProcedure").value)==="REEXP"){
            document.getElementById("customsProcedureCode").value = "08";
        }
        else if((document.getElementById("customsProcedure").value)==="TEMPEXP"){
            document.getElementById("customsProcedureCode").value = "16";
        }
        else if((document.getElementById("customsProcedure").value)==="TRANSIT"){
            document.getElementById("customsProcedureCode").value = "12";
        }
        else if((document.getElementById("customsProcedure").value)==="BONDEDMOVGOODS"){
            document.getElementById("customsProcedureCode").value = "13";
        }
        else if((document.getElementById("customsProcedure").value)==="EXPFROMBOND"){
            document.getElementById("customsProcedureCode").value = "14";
        }
    }

    function autoCodePrevProcedure() {
        document.getElementById("previousProcedureCode").value = "";
        if((document.getElementById("previousProcedure").value)==="IMP"){
            document.getElementById("previousProcedureCode").value = "05";
        }
        else if((document.getElementById("previousProcedure").value)==="REIMP"){
            document.getElementById("previousProcedureCode").value = "07";
        }
        else if((document.getElementById("previousProcedure").value)==="ENTRYTOBOND"){
            document.getElementById("previousProcedureCode").value = "10";
        }
        else if((document.getElementById("previousProcedure").value)==="TEMPIMP"){
            document.getElementById("previousProcedureCode").value = "11";
        }
        else if((document.getElementById("previousProcedure").value)==="TEMPIMPEXT"){
            document.getElementById("previousProcedureCode").value = "15";
        }
        else if((document.getElementById("previousProcedure").value)==="IMPFROMBOND"){
            document.getElementById("previousProcedureCode").value = "09";
        }
        else if((document.getElementById("previousProcedure").value)==="EXP"){
            document.getElementById("previousProcedureCode").value = "06";
        }
        else if((document.getElementById("previousProcedure").value)==="REEXP"){
            document.getElementById("previousProcedureCode").value = "08";
        }
        else if((document.getElementById("previousProcedure").value)==="TEMPEXP"){
            document.getElementById("previousProcedureCode").value = "16";
        }
        else if((document.getElementById("previousProcedure").value)==="TRANSIT"){
            document.getElementById("previousProcedureCode").value = "12";
        }
        else if((document.getElementById("previousProcedure").value)==="BONDEDMOVGOODS"){
            document.getElementById("previousProcedureCode").value = "13";
        }
        else if((document.getElementById("previousProcedure").value)==="EXPFROMBOND"){
            document.getElementById("previousProcedureCode").value = "14";
        }
    }

    function autoCodeDutiable() {
        document.getElementById("dutiableIndicatorCode").value = "";
        if((document.getElementById("dutiableIndicator").value)==="A"){
            document.getElementById("dutiableIndicatorCode").value = "A";
        }
        else if((document.getElementById("dutiableIndicator").value)==="N"){
            document.getElementById("dutiableIndicatorCode").value = "B";
        }
        else if((document.getElementById("dutiableIndicator").value)==="L"){
            document.getElementById("dutiableIndicatorCode").value = "C";
        }
        else if((document.getElementById("dutiableIndicator").value)==="P"){
            document.getElementById("dutiableIndicatorCode").value = "D";
        }
    }

    function autoCodeClearance() {
        document.getElementById("clearanceStationCode").value = "";
        if((document.getElementById("clearanceStation").value)==="BSB"){
            document.getElementById("clearanceStationCode").value = "611";
        }
        else if((document.getElementById("clearanceStation").value)==="BSP WHARF"){
            document.getElementById("clearanceStationCode").value = "603";
        }
        else if((document.getElementById("clearanceStation").value)==="BSP WHARF + LONG ROOM"){
            document.getElementById("clearanceStationCode").value = "611";
        }
        else if((document.getElementById("clearanceStation").value)==="CUSTOMS HEADQUARTERS"){
            document.getElementById("clearanceStationCode").value = "600";
        }
        else if((document.getElementById("clearanceStation").value)==="INTERNATIONAL AIRPORT (CARGO)"){
            document.getElementById("clearanceStationCode").value = "601";
        }
        else if((document.getElementById("clearanceStation").value)==="INTERNATIONAL AIRPORT (PASSENGER)"){
            document.getElementById("clearanceStationCode").value = "609";
        }
        else if((document.getElementById("clearanceStation").value)==="KUALA BELAIT POST OFFICE"){
            document.getElementById("clearanceStationCode").value = "622";
        }
        else if((document.getElementById("clearanceStation").value)==="KUALA BELAIT WHARF"){
            document.getElementById("clearanceStationCode").value = "602";
        }
        else if((document.getElementById("clearanceStation").value)==="KUALA LURAH"){
            document.getElementById("clearanceStationCode").value = "631";
        }
        else if((document.getElementById("clearanceStation").value)==="MAIL PROCESSING CENTRE"){
            document.getElementById("clearanceStationCode").value = "621";
        }
        else if((document.getElementById("clearanceStation").value)==="MUARA CONTAINER"){
            document.getElementById("clearanceStationCode").value = "616";
        }
        else if((document.getElementById("clearanceStation").value)==="MUARA GUARD HOUSE"){
            document.getElementById("clearanceStationCode").value = "617";
        }
        else if((document.getElementById("clearanceStation").value)==="MUARA PORT"){
            document.getElementById("clearanceStationCode").value = "605";
        }
        else if((document.getElementById("clearanceStation").value)==="MUARA POST OFFICE"){
            document.getElementById("clearanceStationCode").value = "615";
        }
        else if((document.getElementById("clearanceStation").value)==="PUTAT"){
            document.getElementById("clearanceStationCode").value = "620";
        }
        else if((document.getElementById("clearanceStation").value)==="SERASA FERRY TERMINAL"){
            document.getElementById("clearanceStationCode").value = "608";
        }
        else if((document.getElementById("clearanceStation").value)==="SERASA FERRY NEW TERMINAL"){
            document.getElementById("clearanceStationCode").value = "618";
        }
        else if((document.getElementById("clearanceStation").value)==="SERIA POST OFFICE"){
            document.getElementById("clearanceStationCode").value = "623";
        }
        else if((document.getElementById("clearanceStation").value)==="SUNGAI TUJOH"){
            document.getElementById("clearanceStationCode").value = "612";
        }
        else if((document.getElementById("clearanceStation").value)==="TEMBURONG LABU"){
            document.getElementById("clearanceStationCode").value = "634";
        }
        else if((document.getElementById("clearanceStation").value)==="TEMBURONG POST OFFICE"){
            document.getElementById("clearanceStationCode").value = "614";
        }
        else if((document.getElementById("clearanceStation").value)==="TEMBURONG WHARF (BANGAR)"){
            document.getElementById("clearanceStationCode").value = "604";
        }
        else if((document.getElementById("clearanceStation").value)==="TUTONG POST OFFICE"){
            document.getElementById("clearanceStationCode").value = "607";
        }
    }

    function autoImporterIdReg() {
        var importerTRDR1 = document.getElementById('importerTRDR1');
        var importerTRDR2 = document.getElementById('importerTRDR2');
        var importerINDV1 = document.getElementById('importerINDV1');
        var importerINDV = document.getElementById('importerINDV2');
        if((document.getElementById("importerType").value)==="TRDR"){
            importerINDV1.style="display:none";
            importerINDV2.style="display:none";
            importerTRDR1.style="";
            importerTRDR2.style="";
            document.getElementById('regTraderCoyRegNo').value = "<%= declaration3.Importer.regTraderCoyRegNo %>";
            document.getElementById('importerRegistration').value = "<%= declaration3.Declarant.declarantICNo %>";
            document.getElementById('importerICColor').value = "<%= declaration3.Declarant.declarantICColor %>";
             
        }
        else if((document.getElementById("importerType").value)==="INDV"){
            importerINDV1.style="";
            importerINDV2.style="";
            importerTRDR1.style="display:none";
            importerTRDR2.style="display:none";
            document.getElementById('regTraderCoyRegNo').value = "";
            document.getElementById('importerRegistration').value = "<%= declaration3.Importer.importerRegistration %>";
            document.getElementById('importerICColor').value = "<%= declaration3.Importer.importerICColor %>";
        }
    }

    //automate port of discharge (based on unlocode_port_list2 database)
    //not working
    function automatePortDischarge(thePort){
        var result = unlocode_port_list2.findOne({Name: thePort})
        var newValue = result.Country + result.Location;
        document.getElementById("portOfDischargeCode").value = newValue;
    }

    //automate country codes (based on PORT_CODE database)
    //not working
    function automateCountryCode(){
        var result = unlocode_port_list2.findOne({Name: thePort})
        var newValue = result.Country + result.Location;
        document.getElementById("portOfDischargeCode").value = newValue;
    }

    //half working
    function calculateDuty() {
        var classDuty = document.getElementsByClassName("goodsDutyAmount");
        var classGoodsCif = document.getElementsByClassName("goodsCif")
        var classGoodsDuty = document.getElementsByClassName("goodsDuty")
        
        //if duty presented as %, it removed the % and calculate /100.
        //IF duty presented as per/kg or something similar, the codes arent here yet.
        for(var k = 0; k < classDuty.length; k++) {
            var duty = classGoodsDuty[k].value.replace(/%/g,'');
            var result1 = (Number(classGoodsCif[k].value)) * (Number(duty)/100);
            classDuty[k].value =  result1.toFixed(2);
        }
    }

    //working
    function autoShippingMark() {
        //document.getElementById("shippingMark").value = "";
        var goodsInputShippingMark = document.getElementsByClassName('goodsShippingMark');
        for(var m = 0; m < goodsInputShippingMark.length; m++) {
            goodsInputShippingMark[m].value = document.getElementById("shippingMark").value;
        }
    }

    function calculateSomething(){
        //weight
        var goodsTotalWeight = document.getElementById('goodsTotalWeight');
        var oneWeight = document.getElementsByClassName("goodsWeight");
        goodsTotalWeight.value = 0;
        //amount
        var goodsTotalAmount = document.getElementById('goodsTotalAmount');
        var oneAmount = document.getElementsByClassName("goodsAmount");
        goodsTotalAmount.value = 0;
        //cif
        var goodsTotalCif = document.getElementById('goodsTotalCif');
        var oneCif = document.getElementsByClassName("goodsCif");
        goodsTotalCif.value = 0;
        //duty
        var goodsTotalDuty = document.getElementById('goodsTotalDutyAmount');
        var oneDuty = document.getElementsByClassName("goodsDutyAmount");
        goodsTotalDuty.value = 0;
        for (var aa = 0; aa < oneWeight.length; aa++){
            goodsTotalWeight.value = Number(goodsTotalWeight.value) + Number(oneWeight[aa].value);
            goodsTotalAmount.value = Number(goodsTotalAmount.value) + Number(oneAmount[aa].value);
            goodsTotalCif.value = Number(goodsTotalCif.value) + Number(oneCif[aa].value);
            goodsTotalDuty.value = Number(goodsTotalDuty.value) + Number(oneDuty[aa].value);
        }
    }
                      
    //CIF FORMULA IN PROGRESS
    function calculateCif(){
        //formula still WIP KIV because MARS is a mess
        //get fields of goods
        var goodsAmountClass = document.getElementsByClassName('goodsAmount');
        var goodsCifClass = document.getElementsByClassName('goodsCif');
        var goodsInvoiceNoClass = document.getElementsByClassName('goodsInvoiceNo');

        //get fields from invoice modal, convert to BND
        var invoiceNoClass = document.getElementsByClassName('invoiceNo');
        var invoiceAmountClass = document.getElementsByClassName('invoiceAmount');
        var invoiceRate = Number(document.getElementById('invoiceRate').value);
        var invoiceFreightAmountClass = document.getElementsByClassName('invoiceFreightAmount');
        var freightRate = Number(document.getElementById('freightRate').value);
        var invoiceInsuranceAmountClass = document.getElementsByClassName('invoiceInsuranceAmount');
        var insuranceRate = Number(document.getElementById('insuranceRate').value);
        var invoiceOtherChargesClass = document.getElementsByClassName('invoiceOtherCharges');

        //get total CIF per invoice

        for (var ik = 0; ik < goodsInvoiceNoClass.length; ik++){
            //get the correct invoice and its values
            for (var ij = 0; ij < invoiceNoClass.length; ij++){
                if(goodsInvoiceNoClass[ik].value == invoiceNoClass[ij].value){
                    var totalCif;
                    totalCif = (Number(invoiceAmountClass[ij].value) * invoiceRate) + (Number(invoiceFreightAmountClass[ij].value) * freightRate) + (Number(invoiceInsuranceAmountClass[ij].value) * insuranceRate) + Number(invoiceOtherChargesClass[ij].value)
                    
                    goodsCifClass[ik].value = ((Number(goodsAmountClass[ik].value) * totalCif) / Number(invoiceAmountClass[ij].value)).toFixed(2);
                }
            }

        }

    }

    //HSCode Modal and filtering system.
    var hsCodeModal = new bootstrap.Modal(document.getElementById('hscodem'))

    function openHSCode(num){
        document.getElementById('thevalue').innerHTML = num;
        hsCodeModal.show();
    }

    function filterHSCode() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("filterHSCode");
        filter = input.value.toUpperCase();
        table = document.getElementById("hscodeTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent.replace(/[.]/g,"") || td.innerText.replace(/[.]/g,"");
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
    }

    function selectHSCode(hscodeClassNumber, hscode, quantity, importRate, exciseRate){
        var hsCodeClass = document.getElementsByClassName('hsCode');
        var goodsUnitClass = document.getElementsByClassName('goodsUnit');
        var goodsDutyClass = document.getElementsByClassName('goodsDuty');
        var goodsImportDutyClass = document.getElementsByClassName('goodsImportDuty');
        var goodsExciseDutyClass = document.getElementsByClassName('goodsExciseDuty');

        var newHsCode = hscode.replace(/[.]/g,"");

        hsCodeClass[hscodeClassNumber].value = newHsCode;
        goodsUnitClass[hscodeClassNumber].value = quantity.toUpperCase();
        goodsDutyClass[hscodeClassNumber].value = exciseRate;
        goodsImportDutyClass[hscodeClassNumber].value = importRate;
        goodsExciseDutyClass[hscodeClassNumber].value = exciseRate;

        hsCodeModal.hide();
    }
</script>